# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/
venv/

# Local secrets
.env

# Local app data
*.db
*.sqlite
*.sqlite3
.flexcli/

# OS / editors
.DS_Store
.vscode/
.idea/
